<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include ("partials/header") %>
    <% if(msg != ""){ %>
    <div id="msg">
        <img src="images/login.png" alt="">
        <div>
        <h1>Hello!</h1>
        <h2><%= msg %></h2>
        </div>
    </div>
    <% }else{ %>
    <div class="container">
        <% if(entries != null) { %>
            <h2>Current Balance: <%= currentBal %></h2>
            <% for(let entry of entries) { %>
                <div class="entry">
                    <%= entry['amount'] %>
                    <%= entry['gained'] %>
                    <%= entry['message'] %>
                    <%= entry['date'] %>
                </div>
            <% } %>
        <% } %>
    </div>
    <% if(user != null) { %>
        <form action="/" method="post">
            <input type="number" name="Amount" placeholder="Amount">
            <input type="radio" name="Gained" value = 1 id="gain">
            <label for="gain">Gained</label>
            <input type="radio" name="Gained" value = 0 id="lost">
            <label for="lost">Lost</label>
            <input type="text" name="Message" placeholder="Message">
            <input type="submit" value="submit">
        </form>
    <% } %>
    <% } %>
</body>
</html>